
body {
  background-color: transparent !important; 
  font-family: 'Alegreya Sans', sans-serif;
}

section {
  padding: 50px;
}

.title-1 {
  color: #d68162;
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px
}

.title-3 {
  line-height: 1.3;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px
}
.link-externo {
  color: #734915;
}
.p {
  font-size: 25px;
  line-height: 1.5;
}

.btn {
  display: inline-table;
  margin-top: 40px;
  padding: 15px;
  border-radius: 8%;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #4b553a;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #d68162;
} 

#header {
  background: url("resources/Capa_web_03.jpg");
  line-height: 1.2;
  background-color: #eec9b7;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #734915;
}

/*#header .content-center {
  background-color: #efe9db;
}
*/

.dflex {
  margin-top: 40px;

}
/*.pagseguro {
}*/

.dflex h3 {
  font-size: 20px;
  font-weight: bold;
  color: #4b553a;
  margin-bottom: 10px;
}

.picpay img {
  width: auto;
  height: 30px;
  display: block;

}

.btn-picpay {
  text-decoration: none;
  font-style: italic;
  padding: 4px;
  background-color: #55c870;
  color: white;
  display: block;
  width: 100px;
  margin-bottom: 3px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}


#section-1 {
  background: url("resources/folha03.png");
  background-color: #eec9b7;
  background-repeat: no-repeat;
  background-size: contain;
  color: #734915;
}

#section-1 .content-center {
  background-color: #eec9b7;
}

#section-2 {
  background: url("resources/circulo_separado.png");
  background-color: #eec9b7;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  color: #4b553a;
}

#section-3 {
  background: url("resources/folhinha.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #efe9db;
  color: #734915;
}

#section-4 {
  background-color: #eec9b7;
  color: #7b6650;
}

#section-5 {
/*  background: url("resources/bolota02_separada.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;*/
  background-color: #4b553a;
}

#section-5 .content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section-5 iframe {
  width: 560px;
  height: 315px;
}
.section-3-image {
  max-width: 450px;
  width: 100%;
  height: auto;
  margin-right: 30px;
}

.section-3-text {
  padding: 20px;
}

#section-3 .title-1 {
  font-weight: 400 !important;
  font-size: 50px;
}
.section-3-text h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #7b6650;
}

#section-5 .title-2 {
  color: #d68162;
}
.bold {
  font-weight: bold;
  color: #734915;
}

.section-4-image-1 {
  background-image: url("resources/entrega1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
  width: 50%;
}
.section-4-image-2 {
  background-image: url("resources/img-4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 50%;
}

.section-4-image-3 {
  background-image: url("resources/entrega2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
  width: 50%;
}
.section-4-image-4 {
  background-image: url("resources/img3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 50%;
}

.content-center {
  margin: 0 auto;
  width: 50%;
}

.content-2-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-2-columns div:first-child {
  width: 48%;
  margin-right: 20px;
}

.content-2-columns div:last-child {
  width: 48%;
  margin-right: 20px;
}
.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}
.content-row img {
  width: 22%;
  max-width: 300px;
  min-width: 200px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

footer {
  background-image: url("resources/folha02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #efe9db;
  color: #7b6650;
}

footer p {
  font-size: 22px;
}

footer div {
  padding: 50px;
}

footer span {
  font-weight: bold;
}

.logo img {
  position: absolute;
  top: -30px;
  left: -115px;
  width: 530px;
}

.logo-mobile img {
  display: none;
  position: absolute;
}

.dflex {
  display: flex;
  justify-content: space-between;
}

.desenvolvimento {
  margin-top: 40px;
  font-size: 16px;
  color: #7b6650;
  font-style: none;
}

.desenvolvimento a {
  font-style: normal;
  color: #7b6650;
  text-decoration: none;
}

.html5-video-player:not(.ytp-transparent) {
  background-color: transparent !important; 
}
.html5-video-player.ytp-exp-marker-tooltip.ytp-embed.ytp-embed-playlist.ytp-title-enable-channel-logo.ytp-small-mode.paused-mode.ytp-expand-pause-overlay {
  background-color: transparent !important;   
}

@media screen and (max-width: 800px) {
  section {
    padding: 20px;
  }
  .content-center {
    width: 90%;
  }
  .content-2-columns {
    flex-direction: column;
  }

  .content-2-columns div:first-child {
    width: 80%;
    margin-right: 0px;
  }

  .content-2-columns div:last-child {
    width: 80%;
    margin-right: 0px;
  }
  .section-3-image {
    margin-right: 0px;
  }
  #section-3 .title-1 {
    font-size: 35px;
  }
  .section-3-text h2 {
    font-size: 28px;
  }
  .title-2 {
    font-size: 26px;
  }
  .title-1 {
    font-size: 45px;
  }
  .logo img {
    display: none;
  }
  .logo-mobile img {
    display: block;
    width: 160px;
    top: 10px;
    left: 0px;
  }
}

@media screen and (max-width: 600px) {
  #header {
    background-size: cover;
    background-image: url("resources/Capa_mobile.jpg");
  }

  footer div:last-child {
    padding-top: 0px;
  }
}
@media screen and (max-width: 500px) {
  .content-row {
    justify-content: center;
  }
  .content-row img {
    width: 90%;
    margin-right: 0;
  }
  iframe {
    width: 311px !important;
    height: 175px !important;
  }
}
